.info {
    float: right;
    &:not(:hover):not(:focus) .callout {
        visibility: hidden;
    }
    .callout {
        font-family: "-apple-system",BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Ubuntu,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        color: black;
        border: solid 2px #eaeaea;
        text-align: center;
        position: absolute;
        z-index: 1;
        top: 1em;
        right: 0px;
        width: 350px;
        max-width: 100%;
        margin-left: -100px;
        background-color: white;
        padding: 8px;
        .message {
            margin-bottom: 10px;
        }
    }
}
.link, .add-button {
    &:focus {
        background-color: aliceblue;
    }
    &:hover {
        outline: 1px solid black;
    }
}
#links-container {
    margin: 1px 1px 2px 1px;
    .links .link {
        display: flex;
        align-items: center;
        .link-label {
            flex: 1;
            margin-left: 5px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-wrap: normal;
            font-size: 14px;
            color: black;
            &.Completed {
                text-decoration: line-through;
                color: #999;
            }
        }
    }
}