#links-container {
    .links .link {
        display: flex;
        align-items: center;
        .link-label {
            flex: 1;
            margin-left: 5px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-wrap: normal;
            font-size: 14px;
            color: black;
            &.Completed {
                text-decoration: line-through;
                color: #999;
            }
        }
    }
}