.link, .add-button
{
    &:focus {
        background-color: aliceblue;
    }
    &:hover {
        outline: 1px solid black;
    }
}
#links-container {
    margin: 1px 1px 2px 1px;
    .links .link {
        display: flex;
        align-items: center;
        .link-label {
            flex: 1;
            margin-left: 5px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-wrap: normal;
            font-size: 14px;
            color: black;
            &.Completed {
                text-decoration: line-through;
                color: #999;
            }
        }
    }
}